name: Audit

permissions:
  contents: read

on:
  schedule:
    - cron: 0 0 */7 * *
  workflow_dispatch:

# Single source of truth for tool versions
env:
  GO_VERSION: "1.24.11"
  JAVA_VERSION: '8'
  BRANCH_NAME: ${{ github.head_ref || github.ref_name }}

jobs:
  dis-redirect-api-audit:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}
          cache: true
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: ${{ env.JAVA_VERSION }}
          cache: maven
      - name: Configure Maven settings.xml for OSS Index
        uses: s4u/maven-settings-action@v3.1.0
        with:
          servers: |
            [{
              "id": "ossindex",
              "username": "${{ secrets.OSSINDEX_USERNAME }}",
              "password": "${{ secrets.OSSINDEX_TOKEN }}"
            }]
      - name: Generate Go Module List
        run: go list -json -m all > go.list
      - name: Install dis-vulncheck
        run: go install github.com/ONSdigital/dis-vulncheck@latest
      - name: Run audit
        run: make audit
      - name: Slack notification on failure
        # Only notify failures for periodic runs on main branch
        if: failure() && env.BRANCH_NAME == 'main'
        uses: slackapi/slack-github-action@v1.25.0
        with:
          channel-id: ci-failures
          payload: |
            {
              "text": "<${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}|audit test ${{ github.run_id }}> failed for <${{ github.server_url }}/${{ github.repository }}|${{ github.repository }}> branch `${{ env.BRANCH_NAME }}`"
            }
          env:
            SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
